* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.headerTitle {
  font-size: 2rem;
}
.headerText {
  font-size: 1rem;
}
header {
  background-color: #d9d9d9;
  padding: 1rem;
}
nav ul {
  background-color: #5a5a5a;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 1rem;
}

nav ul li {
  padding: 0.5rem 0.75rem;
}
nav ul li a.active {
  color: white;
}

nav ul li a {
  color: rgba(206, 203, 203, 0.76);
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  transition: all 0.25s ease;
}
ul li a:hover {
  color: white;
}
h1 {
  font-weight: bolder;
}
hr {
  margin: 0rem 0rem 1rem 0rem;
}
section.c1,
section.c2 {
  margin: 2rem;
}
footer {
  display: flex;
  flex-direction: row;
}
section.left {
  margin: 0rem 0rem 0rem 3.5rem;
}
section.left h1 {
  margin: 0rem 0rem 0rem -1rem;
}
section.right {
  position: absolute;
  right: 2rem;
}
